    <%- include('common/nav.ejs')-%>
    <h1>Hii.........from EJS <%=data.name%></h1>
    <h3>Name:<%=data.name%></h3>
    <h3>Email:<%= data.email%></h3>
    <h3>Age: <%= data.age%></h3>
    <h3>Edu:<%= data.Edu%></h3>
    <link rel="stylesheet" href="../assets/style.css">

